<form class="mt-4" name="container-form" method="post" action="/courses/handle-form-action">

  <a href="/me/trash/courses" class="mt-4">Khóa học đã xóa ({{deletedCount}})</a>

    <h3>Khóa học của tôi</h3>
    
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      
      <select class="form-select form-select-sm checkbox-select-all-option" name="action" required="true" aria-label="Default select example">
        <option value="">- Chọn hành động -</option>
        <option value="delete">Xóa</option>
      </select>
      
      <button class="btn btn-primary btn-sm btn-check-all-submit disabled">
        Thực hiện
      </button>
    </div>
    
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col" colspan="2">STT</th>
          <th scope="col">Tên khóa học</th>
          <th scope="col">Trình độ </th>
          <th scope="col">Thời gian tạo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}} 
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="courseId[]" value="{{this._id}}" >
            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>Nhập môn</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal">Xóa</a> 
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Bạn chưa tham gia khóa học nào
            <a href="/course/create">Đăng kí khóa học mới</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}
<div class="modal"  id="delete-course-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn chưa ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id='btn-delete-course'  class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<form name='delete-course-form' action="" method="post"></form>

<script>  
  
  document.addEventListener('DOMContentLoaded', function(event) {
    event.preventDefault()
    var courseId
    var deleteForm = document.forms['delete-course-form']
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var checkboxAll = $('#checkbox-all')
    var courseItemCheckbox = $('input[name="courseId[]"]')
    var checkAllSubmitBtn = $('.btn-check-all-submit')
    var containerForm = $('form[name="container-form"]')
    
    $('#delete-course-modal').on('show.bs.modal', event => {
      console.log('event shown.bs.modal fired')
      button = event.relatedTarget
      courseId = button.getAttribute('data-id')
    })
    
    btnDeleteCourse.onclick = function() {
      deleteForm.action = '/courses/' +courseId + '?_method=delete'
      deleteForm.submit()
    }
    
    //Check all checkbox
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked')
      if (isCheckedAll) {
        courseItemCheckbox.prop('checked', isCheckedAll)
        renderCheckAllSubmitBtn()
      }
    })
    
    courseItemCheckbox.change( function() { 
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseId[]"]:checked').length
          checkboxAll.prop('checked', isCheckedAll)
          renderCheckAllSubmitBtn()
      })
    
    containerForm.on('submit', function(e){
      var isSubmiitable = !checkAllSubmitBtn.hasClass('disabled')
      if (!isSubmiitable) {
          event.preventDefault()
        }
    })   
       
       
    
    
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseId[]"]:checked').length
      if (checkedCount >0) {
        checkAllSubmitBtn.removeClass('disabled')
      } else {
        checkAllSubmitBtn.addClass('disabled')
      }
    }
  })
  
</script>